<h1>Parsing Database</h1>
<h2>Creating Indexes</h2>
<ul>
  <li>- Messages / Room</li>
  <li>- Total amount of Rooms</li>
  <li>- Last Message / Room</li>
  <li>- Amount of users that posted within the last 20 min / Room</li>
</ul>


<script>

  $(function() {
    GhostPost.initializeUser();
    //GhostPost.createRoomCount();
    //GhostPost.createMPrios();
    GhostPost.countRooms();w
  });



</script>
