<li class="cf Notification">
  <div class="messageText">
    <ul class="Notification cf">
      <li><img src="/assets/avatars/av{{GhostPost.avatar_id}}.png" class="avatarNotification fL"></li>
      <li>You are now: <font color='yellow'>{{GhostPost.username}}</font> </li>
      <li class="Close"><a href="javascript://" onclick='$("#avatarNotificationDiv").html(""); false'>X</a></li>
      <li>          <a href="http://americas.startupbus.com/2013/get-new-avatars-and-usernames-for-ghostpost-io/" target="onTop" class="avatarButton white" >Unlock more Avatars</a>
      </li>
    </ul>
  </div>
</li>

