<li class="cf Notification">
  <div class="messageText">
    <ul class="Notification cf">
      <li><img src="/assets/avatars/av{{avatar_id}}.png" class="avatarNotification fL"></li>
      <li>You are now: <font color='yellow'>{{username}}</font> </li>
      <li class="Close"><a href="javascript://" onclick='$("#avatarNotificationDiv").html(""); false'>X</a></li>
    </ul>
  </div>
</li>

