<li class="cf" data-username="{{message.name}}">
  <img src="/assets/avatars/av{{message.avatar_id}}.png" class="avatar-small fL">
  <div class="messageText">
    <em>{{message.name}}</em>
    {{message.text}}
  </div>
</li>
