Welcome to GhostPost!

You are now: <img src="" id=""> <div id="avatarName"></div>



List of Rooms:
<div class="list">
  <ul class="posts" id="roomsDiv"></ul>
</div>



<script>
  $(function() {
    GhostPost.initializeUser();
    GhostPost.listRooms();
  });

</script>
