<div class="avatar avatar-large cf" id="welcomeAvatar">
</div>

<div class = "list">
    <ul class = "event" id="roomsDiv">

    </ul>
</div>



<script>
  $(function() {
    GhostPost.initializeUser();
    GhostPost.welcomeAvatar();
    GhostPost.listRooms();
  });

</script>
