<h1>Welcome to GhostPost!</h1>

<div class="avatar cf" id="welcomeAvatar">
</div>


<h2>Active Rooms:</h2>

<div class="list">
  <ul class="posts" id="roomsDiv"></ul>
</div>

<h2>...in a Nutshell</h2>
Ghostpost is an anonymous chat app we built in three days while on the StartupBus from SF to Austin.

We randomly generate an avatar and username for you each time you enter a room.

To make a new chatroom, write anything after ghostpost.io/, like this: ghostpost.io/PlayaHatersBall.

To create a new room while in a chat, use a hashtag, like this #AwkwardCoworkers.

Try it out!



<script>
  $(function() {
    GhostPost.initializeUser();
    GhostPost.welcomeAvatar();
    GhostPost.listRooms();
  });

</script>
