 <h2> <span>You are now: </span></h2>
 <img src="{{ GhostPost.avatar_url }}">
 <h2>{{GhostPost.name}}</h2>
 <h3>Go chat away... anonymously!</h3>
 <br>
<a class="avatarButton" href="javascript://" onclick='GhostPost.resetAvatar(); false'>reset</a>
<a href="/gopro.html" target="onTop" class="avatarButton white" >Unlock more Avatars</a>
<br><br>
