<div class="list">
  <ul class="posts" id="messagesDiv"></ul>
</div>
<div class="postbar">
<<<<<<< HEAD
  <img src="/assets/avatars/av1.png" id="avatarImageMini" style="height: 15px; width: 15px" class="fL">
  <div id="avatarNameSmall"></div>
=======
>>>>>>> b55373f98952a90001d3dbc17f8360a4336279e1
  <input type='text' id='messageInput' placeholder='Speak your mind here...' autocomplete=off>
</div>

<script type="text/javascript">
  $(function() {
    GhostPost.room='<%= @room.html_safe.downcase %>';
    GhostPost.resetName = <%= @resetName ? 'true' : 'false' %>;
    GhostPost.initializeUser();
    GhostPost.getMessages();
  });
</script>
