<div class="avatar cf">
  <h3><span>today you are</span></h3>
  <img src="/assets/avatars/av1.png" id="avatarImage">
  <h1 id="avatarName"></h1>
  <h3>your avatar will refresh in <span> 5:03 hours </span></h3>
</div>

<div class="list">
  <ul class="posts" id="messagesDiv"></ul>
</div>
<div class="postbar">
  <input type='text' id='messageInput' placeholder='Speak your mind here...' autocomplete=off>
</div>

<script type="text/javascript">
  $(function() {
    GhostPost.room='<%= @room.html_safe.downcase %>';
    GhostPost.resetName = <%= @resetName ? 'true' : 'false' %>;
    GhostPost.initializeUser();
    GhostPost.getMessages();
  });
</script>
