<div class="avatar cf">
  <h3><span>today you are</span></h3>
  <img src="/assets/avatars/av1.png" id="avatarImage">
  <h1 id="avatarName"></h1>
  <h3>your avatar will refresh in <span> 5:03 hours </span></h3>
</div>

<div class="list">
  <ul class="posts" id="messagesDiv">
    <!--<li class="cf">-->
      <!--<img src="images/avatars/av{{post.avatar_id}}.png" class="avatar-small fL">-->
      <!--<h2>{{post.name}}</h2>-->
      <!--<div class="span100 fL">-->
        <!--<p>{{post.text}}</p>-->
      <!--</div>-->
    <!--</li>-->
  </ul>
</div>
<div class="postbar">
  <input type='text' id='messageInput' placeholder='Speak your mind here...'>
</div>

<script type="text/javascript">
  $(function() {
    GhostPost.room='<%= @room.html_safe %>';
    GhostPost.start();
  });
</script>
