<div class="list">
  <ul class="posts" id="messagesDiv"></ul>
</div>
<div class="list">
  <ul class="posts" id="avatarNotificationDiv"></ul>
</div>

<script type="text/javascript">
  $(function() {
    GhostPost.room='<%= @room.html_safe.downcase %>';
    GhostPost.initializeUser();
    GhostPost.getMessages();
  });
</script>
