<div id="rooms"></div>

<div id='messagesDiv'></div>
<input type='text' id='messageInput' placeholder='Message...'>

<script type="text/javascript">
  $(function() {
    GhostPost.room = '<%= @room.html_safe %>';
    GhostPost.start();
  });
</script>
