<!DOCTYPE html>
<html>
<head>
  <title>ghostpost MMVP</title>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38990344-1']);
    _gaq.push(['_setDomainName', 'ghostpost.io']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
<nav>
  <img src="/assets/logo.png">
</nav>
<!--<div class = "button">
    <div class = "new-post"><a href = ""><img src = "images/plus.png"></a></div>
</div>-->
<div class="main">

<<<<<<< HEAD
  <div class="avatar cf">
    <h3><span>today you are</span></h3>
    <img src="/assets/avatars/av1.png" id="avatarImage">
    <h1 id="avatarName"></h1>
    <h3>your avatar will refresh in <span> 5:03 hours </span></h3>
  </div>

=======
>>>>>>> d961dc1e6cf2df9a534d0b8577e9ea75a847e102
<%= yield %>

</div>
</body>
</html>
