<!DOCTYPE html>
<html>
<head>
  <title>ghostpost MMVP</title>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <meta name = "viewport" content = "initial-scale=1.0, width=device-width" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <img src="/assets/logo.png">
</nav>
<!--<div class = "button">
    <div class = "new-post"><a href = ""><img src = "images/plus.png"></a></div>
</div>-->
<div class="main">

<%= yield %>

</div>
</body>
</html>
